* {
	padding: 0;
	margin: 0;
	font-size: 14px;
	outline: none;
}

input, button {
	display: block;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
	font-size: 1rem;
	line-height: 1rem;
}

button:disabled {
	pointer-events: none;
}