* {
	padding: 0;
	margin: 0;
	font-size: 14px;
	outline: none;
	color: #1c1c1c;
}

input,
button {
	display: block;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
	font-size: 1rem;
	line-height: 1rem;
	letter-spacing: inherit;

	&.fill {
		font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
	}
}

button:disabled {
	pointer-events: none;

	.material-symbols-outlined {
		color: #888;
	}
}
